table.pass {
	background: #777777 ;
	margin-bottom: 10px;
	width: 100%;
}
td.pass60{
	background: #eee;
	text-align: left;
	vertical-align: top;
	width: 60%;
}
td.pass{
	background: #eee;
	text-align: left;
	vertical-align: top;
}
td.featureExpl {
	background: #eee;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	width: 30%;
}
td.rate {
	background: #eee;
	text-align: center;
	vertical-align: top;
}
td.rate10 {
	background: #eee;
	text-align: center;
	vertical-align: top;
	width: 10%;
}
td.about {
	background: #eee;
	text-align: justify;
	vertical-align: top;
}
th.pass {
	background: #888888;
	color: #333;
	text-align: left;
	vertical-align: top;
}
th.pass10 {
	background: #888888;
	color: #333;
	text-align: left;
	vertical-align: top;
	width: 10%;
}
th.pass30 {
	background: #888888;
	color: #333;
	text-align: left;
	vertical-align: top;
	width: 30%;
}
th.pass60 {
	background: #888888;
	color: #333;
	text-align: left;
	vertical-align: top;
	width: 60%;
}
th.sec {
	background: #888888;
	color: #333;
	text-align: center;
	vertical-align: top;
}

#progressPercent {
	color: #000;
	font-size: 85%;
	position:absolute;
	text-align: center;
	width: 100px;
	z-index: 10;
}
#progressPercent,#rating,#standards {
	font-weight: bold;
}
#scorebar {
	background-image: url(../images/bg_strength_gradient.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	position:absolute;
	width: 100px;
	z-index: 0;
}
#scorebarBorder {
	background: #aaa;
	border: 1px #000 solid;
	height: 16px;
	margin-bottom: 2px;
	width: 100px;
}
#password {
	border: 1px #000 solid;
	font-size: 85%;
	width: 100px;
}

