/*
 * Stylesheet created by Giorgos Kappes
 * ------------------------------------
 * Please feel free to modify and use it 
 * as you see fit.
 */
 
/* 
 * Reset
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/*
 * Html tag
 */
html 
{ 
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch; 
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

/*
 * Page body
 */
body
{
	font-size: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #1C2121;
	background-image: url('images/Page-BgTexture2.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top left;
}

/*
 * Set main body font to sans-serif
 */
body, button, input, select, textarea { 
	font-family: sans-serif; color: #333; 
}

/*
 * Headers
 */
h1, h2, h3 { 
	letter-spacing: -0.04em; 
}

h1 { 
	font-size: 2.5em; /* 25px */ 
	line-height: 1.6em; /* 40px */ 
	margin-top: 0.8em; 
	margin-bottom: 0em; 
}

h1.headerlogo {
	width: 30%;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	letter-spacing:0px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20px; 
	color: #fff; 
}

h1.profile {

	margin-top: 0;
	margin-bottom: 0;

	letter-spacing:0px;

	font-size: 28px; /* use px here so that user can't change */ /* 0.8571em = 12px from 14px */
	color: #fff; 
}

h2 { 
	font-size: 2em; /* 30px */ 
	line-height: 1.3333em; /* 40px */ 
	margin-top: 0.6667em; 
	margin-bottom: 0em; 
}

h2.profile {
	margin-bottom: 0;
	margin-top: 0;	
	font-weight: normal;
	letter-spacing:0px;
	font-size: 22px; /* use px here so that user can't change */ /* 0.8571em = 12px from 14px */
	color: #fff; 
}

h2.headerlogo {
	margin-bottom: 0;
	margin-top: 0;
	width: 40%; 
	font-size: 1.6em;
	float: left;


}

h3 { 
	font-size: 1.8em; /* 22px */ 
	line-height: 1.8182em; /* 40px */ 
	margin-top: 0.9091em; 
	margin-bottom: 0em; 
}

h3.profile {
	margin-bottom: 0;
	margin-top: 0;	
	font-weight: normal;
	letter-spacing:0px;
	font-size: 18px; /* use px here so that user can't change */ /* 0.8571em = 12px from 14px */
	color: #fff; 
}

h4 { 
	font-size: 1.250em; /* 20px */ 
	line-height: 1.1111em;  
	margin-top: 1.1111em; 
	margin-bottom: 0em; 
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 2px #4682B4;;	
 
}

/*
 * Links
 */
a {
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	color: #336699;
}

a:link
{
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: none;
  	color: #336699;
}

a:visited, a.visited
{
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: none;
  	color: #336699;
}

a:hover, a.hover
{
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: none;
 	color: #0080FF;
}

a.anchor 
{
	display: block; 
	position: relative; 
	top: -250px; 
	visibility: hidden;
}

/*
 * Logo Container
 */
.container_header {
	width: 100%;
	margin: 0 auto;
}

/*
 * Main container
 */
.container_main {
	width: 960px;
	margin: 0 auto;
}

/*
 * Page Header
 */
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #4682B4;
	opacity:0.96;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=96)"; /* IE 8 */	
	overflow:hidden;
	z-index: 10;
	border-bottom: solid 2px #2A4E6C;
}

.header .headlogo {
	position:relative;
	width:30%;
	float: left;
	text-align:center;
	margin:0 auto;
	padding-left: 0.3em;
}

/*
 * Main menu
 */
.header .nav {
	width: 70%; 
	float: left;
}

.nav a {
	text-decoration: none;
	color: #fff;
	padding: 0 12px 0 12px;
	display: inline-block;
}

.nav a:visited {
	text-decoration: none;
	color: #fff; 
}

.nav a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #ff4500;
}

.nav ul {
	margin: 0;
	padding:0;
	list-style: none;
	float: right;
}
.nav li {
	float: left;
	border-left: dotted 1px #aaa;
}

.nav li.first {
	float: left;
	border-left: none;
}

.nav li {
	padding: 0;
	margin: 0;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif; /* so that the width of the text is fairly consistent cross-browser */
	font-size: 20px; /* use px here so that user can't change */ /* 0.8571em = 12px from 14px */
}

/*
 * Back-to-top 
 */
div.backtotop {
	display: none;
}

/*
 * Main Section 
 */
.section {
	position:relative;
	margin-top: 6em;
	z-index: 1;
}

/*
 * Header Section 
 */
.section_header {
	position:relative;
	padding-top: 16em; /* 80px */
	z-index: 1;
	background-size: cover;
	background-image: url('images/img3.jpg');
	margin-left: auto;
	margin-right: auto;
}

/*
 * Logo Container
 */
.logo_container {
	position: relative;
	width: 960px;
	height: 200px;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;

}

.logo_image {
	position: relative;
	z-index: 1;
	height: 200px;
	width: 200px;
	background-image: url('images/me_sf_bw.png');
	float: left;
	text-align:center;
	margin:0 auto;	
}

.logo_image_second {
	position: relative;
	float:left;
	z-index: 1;
	height: 180px;
	width: 740px;
	background-color:#4682B4;
	padding:10px;
}

.logo_image_third {
	display:none;
}

.logo_image_fourth {
	display:none;
}

/*
 * First Section 
 */
.section_first {
	position:relative;
	margin-top: 2em;
	z-index: 1;
}	

/*
 * Rows
 */
.row {
  margin-right: -20px;
  margin-left: -20px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row_in {
  	margin-left:auto;
	margin-right:auto;
}

/*
 * Columns
 */
.col_c {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width:96%;
  text-align: justify;
}

.col_l {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 20px;
  float: left;
  width:47%;
  text-align: justify;
}

.col_r {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  float: left;
  width:47%;
  text-align: justify;
}

/*
 * Cleared Div 
 */
.cleared {
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}

/*
 * Footer
 */
.footer {
	margin-top:60px;
	position:relative;
	text-align:center;
	border-top: solid 2px #333;
	background-color: #4682B4;
	width:100%;
}

/*
 * Tables
 */
table {
	margin-top: 1.6667em;
	border-collapse:collapse;
}
table, td, th {
	margin-left: auto;
	margin-right: auto;
	border:2px solid #777;
	text-align:center;
}

td {
	padding:15px;
}

/*
 * Images 
 */
img { 
	border: 0; 
	-ms-interpolation-mode: bicubic; 
	max-width:100%;
	height: auto;
}

/*
 * Paragraphs and lists
 */
ul, ol, li{
	margin-left: 20px;
}

p, ul, ol, dl, pre, code { 
	font-size: 1.4em; /* 14px */ 
	line-height: 1.4286em; /* 20px */ 
	margin-top: 1.4286em; 
	margin-bottom: 0em;
}

/* largest-size text */
p.large_text, ul.large_text, ol.large_text, dl.large_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.2em; /* 22px */ 
	line-height: 1.3636em; /* 30px */ 
	margin-top: 0.9091em; /* 20px */ 
	margin-bottom: 0em;
}

p.large_text img, ul.large_text img, ol.large_text img, dl.large_text img {
	margin-top: 9.9091em; /* 20px */
}

ul.large_text li, ol.large_text li {
	margin-top: 0.3846em; /* 10px (1/2 a line height) from 26px text */
}

/* medium-size text */
p.medium_text, ul.medium_text, ol.medium_text, dl.medium_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em; /* 18px */ 
	line-height: 1.1111em; /* 20px */ 
	margin-top: 1.1111em; /* 20px */ 
	margin-bottom: 0em;
}

p.medium_text img, ul.medium_text img, ol.medium_text img, dl.medium_text img {
	margin-top: 1.1111em; /* 20px */
}

ul.medium_text li, ol.medium_text li {
	margin-top: 0.5em; /* 10px (1/2 a line height) from 20px text */
}

/* small-size text */
p.small_text, ul.small_text, ol.small_text, dl.small_text {
	font-size: 1.0em; /* 12px */ 
	line-height: 1.6667em; /* 20px */ 
	margin-top: 1.6667em; 
	margin-bottom: 0em;
}

p.small_text img, ul.small_text img, ol.small_text img, dl.small_text img {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top: 1.6667em; /* 20px */
}

ul.small_text li, ol.small_text li {
	margin-top: 0.8333em; /* 10px (1/2 a line height) from 12px text */
}
	
/* tiny-size text */
p.tiny_text {
	font-size: 0.688em; /* 11px */ 
	line-height: 1.6667em; /* 20px */ 
	margin-top: 1.6667em; 
	margin-bottom: 0em;
	color: #fff;
}

p.tiny_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top: 1.6667em; /* 20px */
}

/***************************************************************
 * TABLETS
 ***************************************************************/
@media only screen and (min-width: 768px) and (max-width: 974px) {
	h1.headerlogo {
		width: 22%;
		margin-top: 0;
		margin-bottom: 0;
		float: left;
		letter-spacing:0px;
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 20px; 
		color: #fff; 		
	}

	h2.headerlogo {
		margin-bottom: 0;
		margin-top: 0;
		width: 150px; 
		font-size: 1.6em;
		float: left;
	}

	h2.profile {
		margin-bottom: 0;
		margin-top: 0;	
		font-weight: normal;
		letter-spacing:0px;
		font-size: 20px; /* use px here so that user can't change */ /* 0.8571em = 12px from 14px */
		color: #fff; 
	}

	h3.profile {
		margin-bottom: 0;
		margin-top: 0;	
		font-weight: normal;
		letter-spacing:0px;
		line-height: 24px;
		font-size: 16px; /* use px here so that user can't change */ /* 0.8571em = 12px from 14px */
		color: #fff; 
	}	

	.container_main {
		width: 720px;
		position: relative;
	}

	header {
		width: 720px;
		z-index: 20; 
	}

	.header .headlogo {
		position:relative;
		width:22%;
		float: left;
		text-align:center;
		margin:0 auto;
	}

	.header .nav {
		width:78%;
		float: left;
	}

	.nav a {
		text-decoration: none;
		color: #fff;
		padding: 0 6px 0 6px;
	}
	
	.nav a:visited {
		text-decoration: none;
		color: #fff;
	}

	.nav a:hover {
		text-decoration: none;
		color: #fff;
	}

	.nav ul {
		margin: 0;
		padding:0;
		list-style: none;
		float: right;
	}
	.nav li {
		float: left;
		border-left: dotted 1px #aaa;
	}

	.nav li.first {
		float: left;
		border-left: none;
	}

	.nav li {
		padding: 0;
		margin: 0;
		line-height: 1.8em;
		font-family: Arial, Helvetica, sans-serif; /* so that the width of the text is fairly consistent cross-browser */
		font-size: 20px; 
	}

	.logo_container {
		position: relative;
		width: 100%;
		min-width: 768px;
		height: 200px;
		z-index: 1;
		margin-left: auto;
		margin-right: auto;
	}

	.logo_image_second {
		position: relative;
		float:left;
		z-index: 1;
		height: 180px;
		width: 536px;
		background-color:#4682B4;
		padding:10px;
	}
	
	.logo_image_third {
		display:none;
	}
	
	.logo_image_fourth {
		display:none;
	}			
}

/***************************************************************
 * MOBILE
 **************************************************************/
@media only screen and (max-width: 767px) {
	body
	{
		background-image: none;
		background-color: rgb(248,248,248);		
	}

	h1.headerlogo {
		display:none;
	}

	h2.headerlogo {
		margin-bottom: 0;
		margin-top: 0;
		width: 100%; 
		font-size: 1.6em;
		float: left;
	}
	
	h1.profile {
		padding-left: 10px;
	}

	h2.profile {
		padding-left: 10px;
	}

	h3.profile {
		padding-left: 10px;
	}	
	
	/* 
	 * Main container 
	 */
	.container_main {
		width: 90%;
	}

	/*
	 * Page Header and main menu
	 */
	.header {
		width: 100%;
		position: static;
		padding-top: 1em;
		padding-bottom: 0;
		background-image:none;		
		background-color: #4682B4;
		opacity:0.96;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=96)"; /* IE 8 */
	}

	.header .headlogo {
		position:relative;
		max-width:100%;
		height:120px;
		float: left;
		text-align:center;
		margin:0 auto;
		margin-top:5px;
		border-top: solid 3px #333;
		border-bottom: solid 3px #333;
		background-image: url('images/head.png');
	}

	.header .nav {
		width: 100%; 
		float: none;
		margin-top: 0;
		padding-top: 0;
	}

	.nav a {
		text-decoration: none;
		color: #fff;
		padding: 0 12px 0 12px;
		display: inline-block;
	}
	.nav ul {
		margin-top: 40px;
		margin: 0;
		padding:0;
		list-style: none;
		float: none;
	}
	.nav li {
		border-left: none;
		float: none;
	}

	.nav li.first {
		border-left: none;
		float: none;
	}

	.nav li {
		margin: 0;
		line-height: 1.8em;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px; 
	}

	a.anchor {
		display: block; 
		position: relative; 
		top: -40px; 
		visibility: hidden;
	}

	div.backtotop {
		display: block; /* show it */
		float: right;
	}
	
	div.backtotop a {
		border: none;
		display: block;
		width: 30px;
		height: 30px;
		margin-top: 2.2em;
		background: url(images/arrow_top.png) no-repeat right 0;
	}
	
	div.backtotop a:hover {
		opacity: 0.2;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=20)"; /* IE 8 */	
	}
	div.backtotop a span { display: none; }

	.section_header {
		position:relative;
		margin-top: 0;
		padding-top:0;
		z-index: 1;
		background-image:none;
	}

	.col_c {
		position: relative;
		min-height: 1px;
		padding-left: 20px;
		padding-right: 20px;
		float: left;
		width:90%;
		text-align: justify;
	}

	.col_l {
		position: relative;
		min-height: 1px;
		padding-right: 0px;
		padding-left: 20px;
		float: left;
		width:90%;
		text-align: justify;
	}

	.col_r {
		position: relative;
		min-height: 1px;
		padding-left: 20px;
		float: left;
		width:90%;
		text-align: justify;
	}

	.logo_container {
		position: relative;
		width: 100%;
		height: 200px;
		z-index: 1;
		margin-left: auto;
		margin-right: auto;
	}
	
	.logo_image {
		display:none;
	}
	
	.logo_image_second {
		position: relative;
		float:left;
		z-index: 1;
		height:auto;
		width: 100%;
		background-color:#4682B4;
		padding:0;
	}

	.logo_image_third {
		display: block;
		position: relative;
		z-index: 1;
		height: 200px;
		width: 200px;
		background-image: url('images/me_sf_bw.png');
		float: left;
		text-align:center;
		margin:0 auto;	
		margin-left: 10px;
	}

	.logo_image_fourth {
		display: block;
		position: relative;
		float:left;
		z-index: 1;
		height:200px;
		width:100%;
		background-color:#4682B4;
		margin:0 auto;
		overflow:hidden;
	}
}
                                                            
