#
#  domU Configuration file 
#

#
#  Kernel & ramdisk
#
kernel      = '/home/gkappes/xen/kernels/vmlinux-3.2.6'
ramdisk     = '/home/gkappes/xen/ramdisks/initrd.img-3.2.6'

#
# Number of virtual CPUs
#
vcpus       = '1'

#
# Amount of RAM
#
memory      = '512'

#
#  Disk device(s).
#
root        = '/dev/xvda1 ro'
disk        = [
                  'tap:aio:/home/gkappes/xen/disks/root.img,xvda1,w',
                  'tap:aio:/home/gkappes/xen/disks/swap.img,xvda2,w',
              ]

#
#  A name for your domain. All domains must have different names.
#
name        = 'domu1'

#
#  Networking
#
#  Examples:
#  vif = [ 'mac=00:16:3e:00:00:11, bridge=xenbr0' ]
#  vif = [ '', 'bridge=xenbr1' ]
#  Active:
vif         = [ '', 'bridge=br0' ]

#  Set if you want dhcp to allocate the IP address.
#  dhcp = "dhcp"

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'

#
#  Extra kernel paramerers
#
extra = 'console=hvc0 xencons=tty'