#  -*- mode: python; -*-
#============================================================================
# Python configuration setup for 'xm create'.
# This script sets the parameters used when a domain is created using 'xm create'.
# You use a separate script for each domain you want to create, or
# you can set the parameters for the domain on the xm command line.
#============================================================================

#----------------------------------------------------------------------------
# Kernel image file.
kernel = "/home/giorgos/xen/domains/domu1/vmlinux-3.0.4-domu"

# Initial memory allocation (in megabytes) for the new domain
memory = 128

# A name for your domain. All domains must have different names.
name = "domu1-nfs"

# Define network interfaces.
# vif = [ 'mac=00:16:3e:00:00:11, bridge=xenbr0' ]
# vif = [ '', 'bridge=xenbr1' ]
vif = [ '','bridge=br0' ]

# Set ip.
ip='192.168.2.2'

# Set netmask.
netmask='255.255.255.0'

# Set default gateway.
gateway='192.168.2.1'

# Set the hostname.
hostname='domu1-nfs'

# Set root device for nfs.
root ='/dev/nfs'

# The nfs server.
nfs_server ='192.168.2.1'

# Root directory on the nfs server.
nfs_root   ='/export/domu1'

# Sets runlevel 4.
extra = "4"
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'
#============================================================================
