#  -*- mode: python; -*-
#=========================================
# Python configuration setup for 'xm create'.
# This script sets the parameters used when a domain is created using 'xm create'.
# You use a separate script for each domain you want to create, or
# you can set the parameters for the domain on the xm command line.
#=========================================

# Kernel image file.
kernel = "hvmloader"

# The domain build function. HVM domain uses 'hvm'.
builder='hvm'

# Initial memory allocation (in megabytes) for the new domain.
# Allocating less than 32MBs is not recommended.
memory = 128

# A name for your domain. All domains must have different names.
name = "domu-hvm"

# The number of cpus guest platform has, default=1
vcpus=1

# Enable/disable HVM guest PAE, default=1 (enabled)
pae=1

# Enable/disable HVM guest ACPI, default=1 (enabled)
acpi=1

# Enable/disable HVM APIC mode, default=1 (enabled)
# Note that this option is ignored if vcpus > 1
apic=1

# Primary network interface
vif = [ 'type=ioemu, bridge=xenbr0' ]

# Define the disk devices you want the domain to have access to
disk = [ 'file:/home/giorgos/xen/domuhvm.img,hda,w', ',hdc:cdrom,r' ]

# Device Model to be used
device_model = 'qemu-dm'

# boot on floppy (a), hard disk (c), Network (n) or CD-ROM (d)
# default: hard disk, cd-rom, floppy
boot="dc"

# Enable SDL library for graphics, default = 0
sdl=0

# Enable OpenGL for texture rendering inside the SDL window, default = 1
# valid only if sdl is enabled.
# opengl=1

# Enable VNC library for graphics, default = 1
vnc=1

# The address that should be listened on for the VNC server if vnc is set.
# default is to use 'vnc-listen' setting from
# auxbin.xen_configdir() + /xend-config.sxp
#vnclisten="127.0.0.1"

# Set VNC display number, default = domid
#vncdisplay=1

# Try to find an unused port for the VNC server, default = 1
#vncunused=1

# Set password for domain's VNC console
# default is depents on vncpasswd in xend-config.sxp
vncpasswd=''

# No graphics, use serial port
#nographic=0

# Enable stdvga, default = 0 (use cirrus logic device model)
stdvga=0

#   Serial port re-direct to pty deivce, /dev/pts/n
#   then xm console or minicom can connect
serial='pty'

#   tsc_mode
tsc_mode=0

#   Qemu Monitor, default is disable
#   Use ctrl-alt-2 to connect
#monitor=1

# Enable sound card support, [sb16|es1370|all|..,..], default none
#soundhw='sb16'

# Set the real time clock to local time [default=0 i.e. set to utc]
localtime=1

# Start in full screen
#full-screen=1

# Enable USB support 
#usb=1

# Enable USB mouse support
#usbdevice='mouse'
#usbdevice='tablet'

# Set keyboard layout, default is en-us keyboard.
#keymap='en-us'

# Enable/disable xen platform PCI device, default=1 (enabled)
#xen_platform_pci=1
